extends layout

block content
  h1 Liste des collaborateurs

  .search
    input#searchInput(type="text" placeholder="Rechercher un nom...")

    select#categoryFilter(name="category")
      option(value="") Catégorie : - Tous -
      option(value="Marketing") Marketing
      option(value="Client") Client
      option(value="Technique") Technique

  .users#userList
    each user in users
      .user-card(data-name=`${user.firstname.toLowerCase()} ${user.lastname.toLowerCase()}` data-category=`${user.category.toLowerCase()}`)
        img(src=user.photo alt="Photo de #{user.firstname}")
        h3 #{user.firstname} #{user.lastname} (#{new Date().getFullYear() - new Date(user.birthdate).getFullYear()} ans)
        p #{user.city}, #{user.country}
        p
          a(href="mailto:#{user.email}") #{user.email}
        p
          a(href="tel:#{user.phone}") #{user.phone}
        p Anniversaire : #{new Date(user.birthdate).toLocaleDateString("fr-FR", { day: '2-digit', month: 'long' })}

        //- // Afficher le bouton "Supprimer" uniquement si l'utilisateur connecté est admin et que l'utilisateur affiché n'est PAS admin
        if currentUser && currentUser.isAdmin && !user.isAdmin
          form(action=`/users/${user._id}/delete` method="POST")
            button(type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')") Supprimer
            a(href=`/users/${user._id}/edit` class="edit-button") Editer

  script(src="/scripts.js")
