extends layout

block content
  h1 Bienvenue sur l'intranet

  p La plate-forme de l'entreprise qui vous permet de retrouver tous vos collaborateurs.

  h2 Avez-vous dit bonjour à :
  if user
    .user-card
      img(src=user.photo alt="Photo de #{user.firstname}")
      h3 #{user.firstname} #{user.lastname} (#{user.age} ans)
      p #{user.city}, #{user.country}
      p
        a(href="mailto:#{user.email}") #{user.email}
      p
        a(href="tel:#{user.phone}") #{user.phone}
      p Anniversaire : #{user.birthdate}

  button(onclick="window.location.reload()") DIRE BONJOUR À QUELQU'UN D'AUTRE
