extends layout

block content
  .home-page
    h1 Bienvenue sur l'intranet

    p La plate-forme de l'entreprise qui vous permet de retrouver tous vos collaborateurs.

    h2 Avez-vous dit bonjour à :
    if user
      .user-card#randomUserCard
        img#randomUserImg(src=user.photo alt="Photo de #{user.firstname}")
        h3#randomUserName #{user.firstname} #{user.lastname} (#{user.age} ans)
        p#randomUserCity #{user.city}, #{user.country}
        p
          a#randomUserEmail(href="mailto:#{user.email}") #{user.email}
        p
          a#randomUserPhone(href="tel:#{user.phone}") #{user.phone}
        p#randomUserBirthdate Anniversaire : #{user.birthdate}

    button#randomUserButton DIRE BONJOUR À QUELQU'UN D'AUTRE

    script(src="/scripts.js")
